.MuiTableHead-root {
  background-color: #C4C4C4;
  border-bottom: 1px solid #000;
}

.MuiTableContainer-root {
  margin: 25px 0 20px;
  width: 90%;

  .appointment_table {
    width: 90%;
    margin: auto;
    height: 60vh;
    overflow: auto;

    &_head {
      background-color: #C4C4C4;
      border-bottom: 1px solid #000;

      &_row {
        &_cell {
          font-size: 18px;
          text-align: center;
        }
      }
    }

    .appointment_table_body {
      background-color: #fff;
      border: 1px solid #000;

      &_row {
        width: 90%;
        
        &_cell {
          border-left: 1px solid #000;
          border-bottom: none;
          font-size: 18px;
          text-align: center;

          img {
            &:hover {
              cursor: pointer;
            }
          }

          img + img {
            margin-left: 25px;
          }
        }
      }
    }
  }
}